@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
    padding: 6px;
    justify-content: center;    
    border-radius: 5px;
}
header ul li{
    list-style: none;/*Para bora los puntitios de loa lados*/
}
header ul li a{
    display: inline-block;
    color:#333;
    font-weight: 700;
    margin-left: 40px;
    text-decoration: none;
}
header ul li a:hover
{
    color: #333;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p{
    text-align: start;
    color: #333;
    width: 500px;
}
.content .textBox a{
    display: inline-block;  
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .textBox a:hover
{
    background-color: #048751;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: 340px;
    height: 350px;
}

.thumb{
    position: absolute;/*Para que pierda el flujo y se puede meter en el cuadro de la imagen. RECORDAR ESTO*/
    left: 47.5%;
   bottom: 20px;
   transform: translateY(-47.5%);
   display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;/*Recoradar que esta en space-beetwen, asi que lo pondra nonde no se vea al cosatado de la imgen*/
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert();
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
    /*Expancion al lado dereco y la posicion de arriba a abjo de circulo*/
}